[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-GACA/client-gateway.git
[submodule "usuarios-ms"]
	path = usuarios-ms
	url = https://github.com/Nest-Microservices-GACA/Usuarios-microservicio.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-GACA/auth-ms.git
[submodule "proyectos-ms"]
	path = proyectos-ms
	url = https://github.com/Nest-Microservices-GACA/aplicaciones-ms.git
[submodule "rviami-ms"]
	path = rviami-ms
	url = https://github.com/Nest-Microservices-GACA/RVIAMI.git
[submodule "rviasa-ms"]
	path = rviasa-ms
	url = https://github.com/Nest-Microservices-GACA/RVIASA.git
